doctype html

html
head

    title Tic Tac Toe

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //link(href='http://fonts.googleapis.com/css?family=Raleway:400', rel='stylesheet', type='text/css')

    link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href='app.css')


    //if lt IE 9
        script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")


body


    //- header.text-center
    //-     .container
    //-         .row
    //-             h1 TIC TAC TOE

    .container-fluid
        .row
            i#backButton.fa.fa-arrow-circle-o-left.hideButton
            table#gameGrid.table.table-bordered
                tbody
                    tr
                        td#x0y0.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x1y0.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x2y0.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                    tr
                        td#x0y1.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x1y1.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x2y1.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                    tr
                        td#x0y2.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x1y2.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide
                        td#x2y2.clickable
                            i.fa.fa-times.hide
                            i.fa.fa-circle-o.hide

    

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/v1.3/jquery.ba-hashchange.js')
    script(type='text/javascript', src='app.js')